body {
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .category-1 {
    width: 33.33%;
    text-align: left;
  }
  .selection {
    width:66.66%;
    float: right;
  }
  .select {
    width: 500px;
    }
