body {
    background-image: url('bg6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .first {
    text-align: left;
    width: 45%;
  }
  .input{
    width:60.66%;
  float: right;
  }